:root{
    --background-darkblue: #007bff;
}

.top-menu {
    background-color: var(--background-darkblue);
}

.navBar{
    margin-top: 2rem;
}

.nav-link{
    color: #ffffff;
}

.navBar__text{
    color: #ffffff;
    margin: 0 0.5rem 0 0.5rem;
    font-size: 1rem;
    display: flex;
    align-self: center;
}